 <h1>Zippy Practice</h1>

<zippy header="Billing" (expanded)="WhenExpanded()">
  Billing Details content
</zippy>

<!-- <h1>Zippy Two Practice</h1>
 <zippy-two>
   <ng-container class="head" >
     Shipping
   </ng-container>
   <ng-container class="body">
     Shipping Details content
   </ng-container>
 </zippy-two>
 <zippy-two>
   <ng-container class="head" >
     Billing
   </ng-container>
   <ng-container class="body">
     Billing Details content
   </ng-container>
 </zippy-two>
 -->
<!-- <app-data-binding></app-data-binding>-->

<!-- <app-apply-custom-pipe></app-apply-custom-pipe> -->

<!-- <app-favourite></app-favourite> -->

<!--<app-apply-title-case></app-apply-title-case>-->

<!--<twitter-like [isLiked]="tweet.isLiked"-->
<!--              [likesCount]="tweet.likesCount"></twitter-like>-->
